.product-detail {
  margin-top: 50px;
}

.product-detail .col-2 {
  padding: 20px 12px;
}

.product-detail .col-2 img {
  padding: 0;
}

.product-detail .col-2 h4 {
  margin: 30px 0;
  font-weight: bold;
}

.product-detail .col-2 h3 i {
  color: #ff523b;
  margin-left: 10px;
}

.product-detail .col-2 p {
  line-height: 30px;
  font-weight: 400;
  margin-top: 5px;
}

.product-detail .col-2 select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.product-detail .col-2 input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

.product-detail .col-2 input:focus {
  outline: none;
}

.small-img-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .product-detail .row {
    text-align: left;
  }

  .product-detail .col-2 {
    padding: 20px 0;
  }

  .product-detail h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
